
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<ul>
    <li><a asp-controller="Categories" asp-action="Details" asp-route-item="Food">Food</a></li>
    <li><a asp-controller="Categories" asp-action="Details" asp-route-item="Tech">Tech</a></li>
    <li><a asp-controller="Categories" asp-action="Details" asp-route-item="Sports">Sports</a></li>
</ul>

